//TABLETS & SMALLER

@media(max-width: 825px){
  #header-home{
    height: 30rem;
  .header-content{
    padding-top: 5rem;
  }
}
  #logo{
    width: 140px;
    height: auto;
    z-index: 1;
    margin-top: 5px;
    
  }
  li{
    padding: 1rem 0.5rem;
  }
 #contact-c{
  height: 120px;
  font-size: 30px;
  padding-top: 50px;
  
 }
}
//SMARTPHONES

@media(max-width: 550px){
    #main-nav{
      flex-direction: column;
      align-items: center;
  
      li{
        padding: 1rem 0.7rem;
        font-size: 0.7rem;
     }
     
    }
    #header-home h1{
      font-size: 1.6rem;
      line-height: 1.2;
      margin-top: 100px;
    }

    .lead{
      font-size: 0.9rem;
      margin-top: 20px;
    }

    .btn-light{
      color: #333;
      text-shadow: none;
      background-color:  #fff;
      border: 2px solid #ffbc00;
      font-size: 1rem;
      padding: 5px;
      opacity: 0.7;
    }

    h2.section-title{
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .container{
      width: 90%;
      
    }

    #header{
      &-home{
        height: 40rem;
        border-bottom: 3px solid $main-color;
        background-position: 20% 30%;
  
      
      }
      &-inner{
        height: 8rem;
      }

      h2.section-title{
        font-size: 0.1rem;
      }
    }
   //STACK GRID COLUMNS

  
  //CONTACT
  #contact{
    &-a{
      .text-fields{
        grid-template-areas:
        "name"
        "subject"
        "email"
        "phone"
        "message";
      }
    }
    &-b{
      div{
        border-bottom: 1px #555 solid;
      }
    }
  }
  .contactos1{
      margin-bottom: 20px;
    }

  //FOOTER
  #main-footer{
    height: 7rem;
  
    .footer-content{
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
   }
  //ABOUT
  #about{
    &-a{
      .about-info2{
        grid-template-areas: 
        "aw1"
        "aw2"
        "aw3";
        margin-bottom: 1px;
        grid-gap: 0.2rem
       }
    }
    .award-1{
      margin-bottom: none;
      padding: none;
      
    }
    .award-2{
      margin-bottom: none;
      padding: none;
      
    }
    .award-3{
      margin-bottom: none;
      padding: none;
     
    }
  
    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas{
      color: $main-color; 
    }
  }
  
  //ABOUT-C
  #about {
    &-c{
      .about-info1{
        display: grid;
        grid-template-areas: 
        "bioimage" 
         "bio";
      }
    }
  }
  h2.section-title{
    color: #333;
    display: flex;
    justify-content: center;
    text-decoration: underline #ffbc00; 
    padding: 0;
    margin-top: 1rem;
  }

  p.lead{
    padding: 0;
    margin-bottom: 1rem;
  }

  #contact-a button[type="submit"]{
    margin-top: 0px;
  }

  h2.interests{
    margin-bottom: 1rem;
  }
   //CONTACT
  
   #contact-c{
    background: #ffbc00;
    height: 100px;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px; 
  }
  #contact-b .contact-info{
    display: flex;
    flex-direction: column;
    text-align:center;
    color: #fff;
    padding-bottom: 20px;
    margin-top: -5px;
  }
  #contact-b{
    background: #333;
    height: 200px;
    
  }
  .contact-info{
    padding: 2rem;
  }
  .contactos{
     margin-top: 5px;
  }
  #contact-b .container{
    padding: 0;
    margin-top: 0;
  }
  
}  

/*LANDSCAPE*/
@media(max-height: 580px){
  #header-home{
    .header-content{
      padding-top: 3rem;
    }
  }
  li{
    padding: 1rem 0.4rem;
    font-size: 0.7rem;
 }
 #logo{
  width: 200px;
  height: auto;
  z-index: 1;
  margin-top: 20px; 
}
#header-home h1{
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 5px;
}
}
@media(max-height: 330px){
  #header-home{
    .header-content{
      padding-top: 1rem;
    }
  }
h1{
  font-size: 0.5rem;
}

li{
  padding: 1rem 0.6rem;
  font-size: 0.9rem;
}
#logo{
width: 220px;
height: auto;
z-index: 1;
margin-top: 20px;

}
}
